/*Importar fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*Generales*/
body{
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden; 
}

*{
    scroll-behavior: smooth;
}
/*Menu*/
#menu a, button{
	font-size: 18px !important;
	font-weight: 600;
	color: #3f3f3f;
	transition: 600ms;
}

#menu a:hover{
	color: skyblue;
}

/*Slider*/


.carousel-inner{
    max-height:39rem !important;
}

/*Cartas*/
#cartas{
	padding: 30px 0px;
}

#cartas h1{
	padding-bottom: 5px;
}

.title{
	padding: 25px 0px;
	text-align: center;
}

.title p{
	font-size: 18px;
	color: #202a30;
}

.card-body{
	box-shadow: 0 0 20px 7px rgba(0,0,0,0.2);
}

.card{
	margin: 20px 10px;
    height: 400px;
    overflow: hidden;
}

.card-body a{
	text-decoration: none;
	font-size: 15px;
	margin-top: auto;
	font-weight: 600;
}

.card-img-top{
    height: 50%;
    transition: all 300ms;
}

.card-img-top:hover{
    filter: grayscale(40%);
    transform: scale(1.1,1.1);
}

/*Prevencion*/
#img-equipo{
    max-height:30rem !important;
    width:50%;
    border-radius: 30px;
}

.subtitulo{
	color: #280a10;
}

/*Mapa*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.mapa {
   /* background: url(../img/1.jpg);*/
    width:100%;
    height:500px;
}

.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}

#typewriter{
    font-size: 1.5rem;
}

/*clima*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*Contactos*/
#bg-contacto{
	position: relative;
	top: -130px;
}

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*Formulario Contacto*/
#contenedor-formulario{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fbfafa;
	border-radius: 5px;
	max-width: 500px;
}

#titulo-formulario {
    color: #3f3f3f;
}

/*footer*/
footer{
	background: #1b2a4e;
	min-height: 100px;
}

footer p{
	color: #f3f3f3;
}

#icons i{
	font-size: 26px;
	padding: 0 8px;
	color: #f3f3f3;
}












/*Responsive*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}

@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contacto{
        top: -96px;
    }
    .textosf{
		display: none;
	}
}


@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }
    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}


